<div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-6 max-h-[50vh] overflow-y-auto pr-2 custom-scrollbar">
    @for (module of security.securityTree(); track module.id) {
    <div class="border border-slate-700 rounded-xl bg-slate-800/50 p-4 transition-all hover:border-blue-500/50">
        <div class="flex items-center gap-2 mb-4 text-blue-400 border-b border-slate-700 pb-2">
            <span class="material-icons text-xl">{{ module.icon }}</span>
            <span class="font-bold uppercase tracking-wider text-xs">{{ module.showName }}</span>
        </div>

        <div class="grid grid-cols-1 gap-y-2">
            @for (perm of module.permissions; track perm.id) {
            <mat-checkbox class="dark-checkbox" [checked]="selectedPermissionIds().includes(perm.id!)"
                (change)="togglePermission(perm.id!)">
                <span class="text-slate-300 text-sm font-medium">{{ perm.showName }}</span>
            </mat-checkbox>
            } @empty {
            <span class="text-xs text-slate-500 italic">Sin permisos</span>
            }
        </div>
    </div>
    }
</div>