@import "@angular/material/prebuilt-themes/purple-green.css"; /* Tema oscuro nativo */

body {
  @apply bg-slate-900 text-slate-50; /* Fondo muy oscuro para toda la app */
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}